<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <div class="wrap">
      <%- include("partials/header.ejs") %>
      <div class="main">
        <h1 class="main_title uppercase_text"><%= page %></h1>
        <form class="form join_form" action="/admin_page" method="POST">
          <button id="show_log" class="submit_btn admin_btn uppercase_text" type="submit">입출차 내역 조회</button>
          <button id="delete_log" class="submit_btn admin_btn uppercase_text" type="submit">입출차 내역 일괄 삭제</button>
        </form>
      </div>
      <%- include("partials/footer.ejs") %>
    </div>
    <%- include("partials/jquery.ejs") %>
    <script>
      $('#show_log').click((evt) => {
        evt.preventDefault();
        console.log(evt.target);
      });
      $('#delete_log').click((evt) => {
        evt.preventDefault();
      });
    </script>
  </body>
</html>
