<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <div class="wrap">
      <%- include("partials/header.ejs") %>
      <div class="main">
        <h1 class="main_title uppercase_text"><%= page %></h1>
        <form class="form payment_form" action="/payment" method="POST">
          <input class="input_form" type="text" name="subtotal" placeholder="&#8361;8,000" readonly />
          <input class="input_form" type="hidden" name="total_amount" value="8000" />
          <input class="input_form" id="input_amount" type="text" name="input_amount" maxlength="5" placeholder="투입 금액" required />
          <button class="submit_btn join_btn uppercase_text" type="submit"><%= button %></button>
        </form>
        <p class="message"><%= message %></p>
      </div>
      <%- include("partials/footer.ejs") %>
    </div>
    <%- include("partials/jquery.ejs") %>
    <script>
      const notNumber = /[^0-9]/gi;

      $(document).ready(function () {
        $('#phone_number')
          .on('focusout', function () {
            var input = $(this).val();
            if (input.length > 0) {
              if (input.match(notNumber)) {
                input = input.replace(notNumber, '');
              }
              $(this).val(input);
            }
          })
          .on('keyup', function () {
            $(this).val($(this).val().replace(notNumber, ''));
          });

        $('#input_amount')
          .on('focusout', function () {
            var input = $(this).val();
            if (input.length > 0) {
              if (input.match(notNumber)) {
                input = input.replace(notNumber, '');
              }
              $(this).val(input);
            }
          })
          .on('keyup', function () {
            $(this).val($(this).val().replace(notNumber, ''));
          });
      });
    </script>
  </body>
</html>
